# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\9AM_Batch_RESTAPI (13--02-2020)\ModelViewSet_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
